php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on
Options -Indexes
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} \.(css|jpg|gif|png|zip|rar|doc|xls|js|tif|tiff|docx|xlsx|ico)$
RewriteRule ^(.*)$ $1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{THE_REQUEST} " (/[^?/]+)\.php"
RewriteRule ^ %1 [R=301,L]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ /$1.php [L] 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?route=$1 [QSA,L]
AddDefaultCharset utf-8